.friendList {
  display: flex;
  gap: 4px;
}
.friendCard {
  flex: 1;
  padding: 12px;
  border: 2px solid #111;
  border-radius: 12px;
}
.friendImg {
  width: 60px;
}
.friendName {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33333;
  letter-spacing: 0.02em;
  color: #111;
}
.online {
  color: green;
}
.offline {
  color: red;
}
